@charset "UTF-8";

/* 
@import-glob "./Settings/*.pcss";
@import-glob "./Tools/*.pcss";
@import-glob "./Generic/*.pcss";
@import-glob "./Base/*.pcss";
@import-glob "./Layoouts/*.pcss";
@import-glob "./Object/*.pcss";
@import-glob "./Components/*.pcss";
@import-glob "./Fragmnets/*.pcss";
@import-glob "./Model/*.pcss";
@import-glob "./Site/*.pcss";
@import-glob "./Pages/*.pcss";
@import-glob "./Trumps/*.pcss"; 
*/